* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 2, 39);
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(83, 80, 80);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 190px;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    background-color: rgb(4, 1, 51);
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 50%;
}

.card {
    width: 350px;
    height: 500px;
    background-color: white;
    padding: 20px;
}

img {
    margin-top: 80px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
}