body {
    background-color: rgb(8, 2, 39);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(4, 1, 51);
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.card {
    width: 350px;
    height: 500px;
    background-color: white;
    padding: 20px;
}

img {
    margin-top: 80px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
}