* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.header {
    width: 100%;
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 40px;
    box-sizing: border-box;
}

.pai {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;

}

.box {
    width: 100%;
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 12px solid black;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}

.box-filho1, .box-filho2, .box-filho3 {
    background-color: rgb(145, 255, 0);
    width: 150px;
    height: 150px;
    box-shadow: -5px 10px 15px black;
    
}


.grid {
    width: 100%;
    height: 50%;
    background-color: black;
    display: grid;
}
