* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.header {
    width: 100%;
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.pai {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;

}
