* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px 0;
}

.h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.gridContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  padding: 30px;
}

.gridContainer img {
  width: 100%;
  display: block;
}

/* @media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
} */