* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 2000px;
  height: auto;
  background-color: rgb(28, 47, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 40px;
  flex-wrap: wrap;
}

.card {
  width: 60px;
  height: 60px;
  background-color: chocolate;
  padding: 24px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 25px;
  }
}