* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px 0;
}

.h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.gridContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 400px)); */
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
  padding: 10px;
}

.gridContainer img {
  width: 100%;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}